*{
    background-color: antiquewhite;
}


#Button1 {

    color: white;

    background : black;

    border: 5px solid transparent;

    transition: .2s ease;

    border-radius: 50px;

}

#Button1:hover {

    color: black;

    background-color: white;

    transform: scale(1.1);

    border: 5px solid black;

}
#Button2 {

    color: white;

    background : black;

    border: 5px solid transparent;

    transition: .2s ease;

    border-radius: 50px;

}

#Button2:hover {

    color: black;

    background-color: white;

    transform: scale(1.1);

    border: 5px solid black;

}
#Button3 {

    color: white;

    background : black;

    border: 5px solid transparent;

    transition: .2s ease;

    border-radius: 50px;

}

#Button3:hover {

    color: black;

    background-color: white;

    transform: scale(1.1);

    border: 5px solid black;

}
#Button4{

    color: white;

    background : black;

    border: 5px solid transparent;

    transition: .2s ease;

    border-radius: 50px;

}

#Button4:hover {

    color: black;

    background-color: white;

    transform: scale(1.1);

    border: 5px solid black;

}